header {
  background-color: #4ea0ff;
}

#header_logo {
  width: 300px;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 210px;
  left: 9px;
  z-index: 1;
}

section {
  font-weight: 600;
}

.caption {
  color: #828282;

}

#author {
  color: #33afe6;
}

figure {
  padding-top: 14px;
  margin: 0;
}

figcaption {
  font-size: 11px;
}

.highlight {
  background-color: yellow;
}

tr {
  width: 200px;
}

.odd_line {
  background-color: #b1e5f2;
}

thead {
  background-color: #20a9e5;
  color: white;
  text-align: left;
}

#first-column {
  width: 20%;
}

#second-column {
  width: 20%;
}

#third-column{
  width: 60%;
}
